@page "/fetchdata"
@using BlazorSampleDB.Shared
@using BlazorSampleDB.Client.Components
@inject HttpClient Http

<h1>Weather forecast</h1>
<p>This component demonstrates fetching data from the server.</p>
<button class="btn btn-success" @onclick="@Add">Add Forecast</button>
<table class="table">
    <thead>
        <tr>
            <th>Date</th>
            <th>Temp. (C)</th>
            <th>Temp. (F)</th>
            <th>Summary</th>
        </tr>
    </thead>
    <tbody>
        @foreach (WeatherForecast _weathcast in forecasts)
        {
            <tr>
                <td>@_weathcast.Date.ToShortDateString()</td>
                <td>@_weathcast.TemperatureC</td>
                <td>@_weathcast.TemperatureF</td>
                <td>@_weathcast.Summary</td>
                <td>
                    <button class="btn btn-danger" @onclick="() => Delete(_weathcast)">Delete</button>
                    <button class="btn btn-success" @onclick="() => Edit(_weathcast)">Edit</button>
                </td>
                
            </tr>
        }
    </tbody>
</table>


@if (_showdialog)
{
    <AddWeatherForecast WeatherForecastCreated="ForeCastCreated" @bind-ShowDialog="_showdialog" ></AddWeatherForecast>    
}

@if(_showdialogEdit)
{
    <EditWeatherForecast @bind-ShowDialog="_showdialogEdit" @bind-WeathCast="_weathCast"></EditWeatherForecast>
}