@page "/fetchdata"
@using BlazorSampleDB.Shared
@using BlazorSampleDB.Client.Components

<h1>Weather forecast</h1>
<p>This component demonstrates fetching data from a database server.</p>
<div class="row">
    <button class="btn btn-success" @onclick="@Add">Add Forecast</button>
    <input type="search" @bind="@searchstring" />
    <SearchWeatherForecast @bind-SearchString="searchstring" @bind-CastList="forecasts"></SearchWeatherForecast>
</div>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Date</th>
            <th scope="col">Temperature Celsius</th>
            <th scope="col">Temperature Farenheit</th>
            <th scope="col">Summary</th>
        </tr>
    </thead>
    <tbody>
        @foreach (WeatherForecast _weathcast in forecasts)
        {
            <tr>
                <td>@_weathcast.Date.ToShortDateString()</td>
                <td>@_weathcast.TemperatureC</td>
                <td>@_weathcast.TemperatureF</td>
                <td>@_weathcast.Summary</td>
                <td>
                    <button class="btn btn-danger" @onclick="() => Delete(_weathcast)">Delete</button>
                    <button class="btn btn-success" @onclick="() => Edit(_weathcast)">Edit</button>
                </td>
            </tr>
        }
    </tbody>
</table>


@if (_showdialog)
{
    <AddWeatherForecast WeatherForecastCreated="ForeCastCreated" @bind-ShowDialog="_showdialog"></AddWeatherForecast>
}

@if (_showdialogEdit)
{
    <EditWeatherForecast @bind-ShowDialog="_showdialogEdit" @bind-WeathCast="_weathCast"></EditWeatherForecast>
}